@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

body {
    font-family: 'Epilogue', sans-serif;
    background-color: hsl(0, 0%, 98%);
    overflow-x: hidden;
} 

.clickMobileOption {
    display: none;
    width: 25%;
    min-height: 100vh;
    height: 100%;
    background-color: #141414bf;
    position: absolute;
}

header {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

/* Icon Page */

.icon-page {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar Styles */

.navbar {
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    font-size: 1.1rem;
}

ul li {
    list-style: none;
}

.options-li > li {
    display: inline-block;
    margin: 0 1rem;
    position: relative;
    color: hsl(0, 0%, 41%);
}

.options-li > li a {
    color: hsl(0, 0%, 41%);
}

a {
    text-decoration: none;
}

.img-arrow {
    height: 0.45rem;
    margin-bottom: 0.15rem;
}

.display-none {
    display: none;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    padding: 0.75rem;
    line-height: 2rem;
    border-radius: 15px;
}

/* hover navbar */

li:hover {
    cursor: pointer;
}

.options-li > li:hover > a, .options-li > li:hover > span a {
    color: hsl(0, 0%, 8%);
}

.display-none > li:hover {
    background-color: #eee;
}

.display-none > li:hover a {
    color: hsl(0, 0%, 8%);
}


/* Buttons Header */

.btnLogin, .btnRegister {
    color: hsl(0, 0%, 41%);
    background: transparent;
    border: none;
    margin: 0 0.5rem;
    padding: 0.75rem 1rem;
}

.btnRegister {
    border: 2px solid hsl(0, 0%, 58%);
    border-radius: 15px;
    transition: 0.3s;
}

/* Buttons hover */

.btnLogin:hover, .btnRegister:hover {
    color: hsl(0, 0%, 8%);
}

.btnRegister:hover {
    border: 2px solid hsl(0, 0%, 8%);
}

/* Main Content */

main {
    display: flex;
    flex-wrap: wrap;
    height: min-content;
}

main article h1 {
    font-weight: bold;
}

main article p {
    color: hsl(0, 0%, 41%);
    line-height: 1.5rem;
}

.btnLearnMore {
    padding: 1rem 1.5rem;
    width: 10rem;
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    margin: 1rem 0;
    transition: 0.3s;
}

.content-container {
    display: flex;
    flex-direction: column;
}

.imgs-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-end;
}

.imgs-container img {
    height: 60%;
}

/* Learn More hover */

.btnLearnMore:hover {
    background-color: transparent;
    border: 1px solid hsl(0, 0%, 8%);
    color: hsl(0, 0%, 8%);
    box-shadow: 0px 1rem 1rem hsl(0, 0%, 48%);
}